/* GLOBAL */

.bg-body-secondary {
    background: #f6f6f2;
}

.bg-green-primary {
    background: #880010 !important;
}

.bg-green-secondary {
    background: #f4fff5 !important;
}

.btn-yellow {
    color: #fff;
    background-color: #ffd600;
    border-color: #ffd600;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.no-select {
    user-select: none;
}

.shadow-cstm {
    box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.15) !important
}

.shadow-cstm--hover:hover {
    box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.15) !important
}

.text-white--hover {
    color: #fff !important;
}

.text-white--hover:hover {
    color: #fff !important;
}

@media screen and (min-width: 992px) {
    .z-index-lg-10 {
        z-index: 10;
    }
}

/* SIDEBAR */

#sidenav-main {
    z-index: 1030;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background: #fff;
    padding-top: 20px;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0) !important;
    overflow: auto;
    z-index: 1030;
}

.sidebar .logo {
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    font-size: 2.2rem;
    font-weight: bold;
}

.sidebar .navbar-brand {
    width: 100%;
    text-align: center;
    margin-right: 0;
}

.sidebar .navbar-brand img {
    width: 100px;
    height: auto;
}

.sidebar .menu {
    padding: 20px 30px;
    user-select: none;
}

.sidebar .menu:nth-child(2) {
    padding-top: 25px;
}

.sidebar ul {
    padding: 0;
    margin-bottom: 0;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    display: block;
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
    padding: 11px 0;
    font-size: .85rem;
    font-weight: 400;
    letter-spacing: .1rem;
}

.sidebar ul li a:hover {
    color: rgba(0, 0, 0, 1);
}

.sidebar ul li a.active {
    background: #880010;
    pointer-events: none;
}

.sidebar ul li a.active:hover {
    color: #fff;
}

.sidebar.clicked {
    left: 0;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.75) !important;
}

.side-links .nav-item a {
    font-weight: 400;
}

.links .nav-item a {
    font-weight: 700;
}

/* DASHBOARD */

.card .card-wrapper {
    padding: .5rem;
    background: #fff !important;
}

/* PROFILE */

#profile-form .form-control:not([readonly]):not([type="date"]) {
    color: #32325d;
}

#profile-form select.form-control option {
    color: #8898aa;
}

/* DAFTAR KELAS */

#daftar-kelas .card .card-body .row li {
    list-style: none;
}

.it-bg {
    background-image: url("../images/static/internet_dedicated_blue.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sosbud-bg {
    background-image: url("../images/static/internet_dedicated_red.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.agama-bg {
    background-image: url("../images/static/internet_dedicated_yellow.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.course-control {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: transparent;
}

.next-button {
    position: absolute;
    display: none;
    right: calc(2% - 1px);
    top: 50%;
    background: rgba(255, 255, 255, 0.2);
    font-size: 1.5rem;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6) !important;
    padding: 0.75rem;
    transform: translate(0, -50%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 20;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-button {
    position: absolute;
    display: none;
    left: calc(2% - 1px);
    top: 50%;
    background: rgba(255, 255, 255, 0.2);
    font-size: 1.5rem;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6) !important;
    padding: 0.75rem;
    transform: translate(0, -50%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 20;
    cursor: pointer;
    transition: all 0.3s ease;
}

.next-button:hover, .back-button:hover {
    background-color: #880010;
    color: rgba(255, 255, 255, 1) !important;
}

.next-button[disabled], .back-button[disabled] {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6) !important;
}

.course-lists {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    transition: all .5s ease;
}

.course-lists .course-items:first-child {
    opacity: 0;
    width: 100%;
    display: block;
}
.course-lists .course-items {
    display: none;
    width: 0;
    opacity: 0;
    transition: all .5s ease;
    overflow: hidden;
}

.course-items-main {
    max-width: 350px;
}

.course-items-detail {
    max-width: 350px;
}

.course-items-detail p {
    font-weight: 600;
}

@media screen and (min-width: 1200px) {
    .course-items-main {
        margin: 0 0 0 auto;
    }
}

@media screen and (max-width: 1199.98px) {
    .course-items-main {
        margin: 0 auto;
    }
    .course-items-detail {
        margin: 0 auto;
    }
}

.card-wrapper-full {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.375rem;
    overflow: hidden;
}

.course-items-main .card-wrapper-full .card-body .row {
    margin-bottom: 0.75rem;
}

.course-items-main .card-wrapper-full .card-body .row .col-icon {
    text-align: right;
}

.course-items-main .card-wrapper-full .card-body .row .col-icon .icon {
    height: 40px;
    width: 40px;
}

.course-items-main .card-wrapper-full .card-body .row .col-icon .icon-shape svg {
    font-size: 1rem;
}

.course-items-main .card-wrapper-full .card-body .row .col-text {
    display: flex;
    align-items: center;
}

.course-items-detail .card-body .row:last-child {
    margin-bottom: 0 !important;
}

.vanish-left {
    animation-name: vanishLeft;
    animation-timing-function: ease;
    animation-duration: 0.7s;
}

.vanish-right {
    animation-name: vanishRight;
    animation-timing-function: ease;
    animation-duration: 0.7s;
}

@keyframes vanishLeft {
    from {
        left: 0;
        opacity: 1;
    }
    to {    
        left: -100%;
        opacity: 0;
    }
}

@keyframes vanishRight {
    from {
        left: 0;
        opacity: 1;
    }
    to {    
        left: 100%;
        opacity: 0;
    }
}

@keyframes popLeft {
    from {
        left: -100%;
        opacity: 0;
    }
    to {    
        left: 0;
        opacity: 1;
    }
}

/*  DETAIL MATERI */

.ul-materi {
    max-height: 600px;
    overflow: auto;
}

.nav-item-cstm {
    padding: 0.5rem 0.9rem;
    border-bottom: 1px solid #525f7f;
}

.nav-item-cstm:last-child {
    border-bottom: 1px solid transparent;
}

.nav-item-cstm a {
    font-size: 1rem;
    font-weight: 500;
}

/* DAFTAR DONASI */

.next-button2 {
    position: absolute;
    display: block;
    right: calc(2% - 1px);
    top: 50%;
    background: rgba(255, 255, 255, 0.2);
    font-size: 1.5rem;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6) !important;
    padding: 0.75rem;
    transform: translate(0, -50%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 20;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-button2 {
    position: absolute;
    display: block;
    left: calc(2% - 1px);
    top: 50%;
    background: rgba(255, 255, 255, 0.2);
    font-size: 1.5rem;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6) !important;
    padding: 0.75rem;
    transform: translate(0, -50%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 20;
    cursor: pointer;
    transition: all 0.3s ease;
}

.next-button2:hover, .back-button2:hover {
    background-color: #880010;
    color: rgba(255, 255, 255, 1) !important;
}

.next-button2[disabled], .back-button2[disabled] {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6) !important;
}

.donasi-bg {
    background: url('../images/static/wallpaper-green.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* IDS */

#save-profile[disabled] {
    background: #6c757d;
    cursor: default !important;
}

#save-profile[disabled]:hover {
    transform: none;
    box-shadow: none;
}