/* GLOBAL */

.bg-green-cstm {
    background-color: #880010 !important;
}

.green-text {
    color: #880010 !important;
}

.yellow-text {
    color: #fee600 !important;
}

.black-text {
    color: #101010 !important;
}

.green-btn {
    color: #fff !important;
    font-weight: 700;
    border-radius: 0;
    background: #880010;
    cursor: pointer;
}

.yellow-btn {
    color: #101010 !important;
    font-weight: 700;
    border-radius: 0;
    background: #fee600;
    cursor: pointer;
}

.active {
    color: #880010 !important;
}

.section-container {
    position: relative;
    padding: 4em 0;
}

.section-title {
    margin-bottom: 40px;
}

.section-title h2 {
    font-size: 2rem;
    font-weight: 700;
}

.section-heading {
    margin-bottom: 40px;
    text-align: center;
}

.section-heading h2 {
    font-size: 2rem;
    font-weight: 700;
}

.section-heading p {
    font-weight: 400;
}

.section-footer {
    margin-top: 20px;
    text-align: center;
}

.section-footer a {
    padding: 0.75rem 1rem;
    font-weight: 700;
}

.col-item {
    margin-bottom: 2rem;
}

.col-item-outer {
    border: 1px solid #dddddd;
}

.col-item-inner {
    margin-top: -1rem;
    padding: 1rem;
}

.col-title {
    font-size: 1rem;
    font-weight: 700;
}

.col-description {
    font-size: 1rem;
}

.col-description-2 {
    font-size: 0.9rem;
}

.text-ellipsis {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price-text {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

.price-text .green-text {
    font-weight: 600;
}

.progress-bar-cstm {
    position: relative;
    width: 100%;
}

.progress-number {
    position: relative;
    display: inline-block;
    padding: 3px 3px;
    left: 0;
    font-weight: bold;
    color: #fff;
    background-color: #fdbe34;
    border-radius: 3px;
    margin-bottom: 7px;
}

.progress-number::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 5px;
    z-index: 1;
    border: solid 5px transparent;
    border-top-color: #fdbe34;
}

.progress-cstm {
    position: relative;
    background-color: #e6e5e5;
    width: 100%;
    height: 10px;
    overflow: visible;
    border-radius: 10px;
    position: relative;
    box-shadow: none;
}

.progress-fill {
    position: relative;
    width: 0;
    height: 100%;
    border: none;
    background-color: #fdbe34;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pagination {
    justify-content: center;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #880010;
    border-color: #880010;
}

.page-item .page-link {
    color: #880010;
}

.link-color a{
    color: #880010;
    text-decoration: none;
}


/* .progress-number {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #000;
} */


/* BOOTSTRAP CUSTOMIZATION */


/* .navbar {
    padding: 0.75rem 1rem;
} */

.navbar .dropdown-menu-right::before {
    right: 20px;
    left: auto !important;
}

.navbar .dropdown-menu-arrow::before {
    background: #fff;
    box-shadow: none;
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    left: 20px;
    position: absolute;
    bottom: 100%;
    transform: rotate(-45deg) translateY(12px);
    z-index: -5;
    border-radius: 2px;
}

.navbar-brand.navbar-brand-custom {
    padding-top: 0;
    padding-bottom: 0;
}


/* IDS */

#benefits .col-item figure img {
    /* width: 100%;
    height: 220px; */
    height: auto;
}

#projects .col-item figure img {
    /* width: 100%;
    height: 180px; */
    height: auto;
}


/* MAIN NAVBAR */

.main-nav {
    background: #101010;
}

.main-nav a {
    color: #fff;
}

.main-nav ul {
    align-items: center;
    font-size: 1.1rem;
}

.main-nav ul li {
    margin: 0 0.25rem;
}

.main-nav ul li:nth-child(1) {
    background: #880010;
}

.main-nav ul li:nth-child(2) {
    background: #29487D;
}

.main-nav ul li:nth-child(3) {
    background: #25d366;
}

.main-nav ul li:nth-child(4) {
    background: #ea4335;
}

.main-nav ul li:last-child {
    margin-right: 0;
}

.main-nav ul li a:not(.green-btn):not(.yellow-btn) {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* width: 30px;
    height: 30px; */
}

.main-nav .green-btn {
    margin-left: 1rem;
}


/* SECOND NAVBAR */

.second-nav {
    background: #fff;
    border-bottom: 2px solid #dddddd;
}

.second-nav ul {
    width: 100%;
    justify-content: space-between;
}

.second-nav a {
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: #101010;
    font-weight: 700;
}


/* BANNER */

.banner {
    height: 658px;
    border-radius: 0;
    background: url('../images/static/main_banner.jpg') no-repeat fixed;
    background-position: 50% 80px;
    background-size: cover;
}

.banner .gimmick {
    position: relative;
    /* left: 25%; */
    top: 100px;
    max-width: 750px;
    transform: translateX(-10%);
}

.banner {
    color: #fff;
    margin-bottom: 0 !important;
}

.banner h1 {
    font-weight: 700;
}

.banner a {
    font-size: 1.2rem;
    font-weight: 700;
}


/* BENEFITS */

.benefits-info {
    text-align: center;
    color: #880010;
}

.benefits-info p {
    font-weight: 400;
}


/* BERITA */

@media only screen and (min-width: 768px) {
    #news .section-container:nth-child(odd) .col-paragraph {
        order: 2;
    }
    #news .section-container:nth-child(odd) .col-image {
        order: 1;
    }
}


/* FAQ */

.faq-title {
    cursor: pointer;
}

.faq-answer {
    height: auto;
    display: none;
    overflow: hidden;
}

.faq-title.button-active {
    color: #880010;
}


/* FOOTER */

.footer-container {
    padding: 4rem 0 0;
    color: #fff;
    background: #101010;
}

.footer-container h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.footer-container p {
    font-size: 1rem;
    font-weight: 200;
}

.footer-container ul {
    padding: 0;
}

.footer-container ul li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.footer-container ul li span {
    display: inline-block;
}

.footer-container ul li span:nth-of-type(1) {
    color: #5f5f5f;
    font-size: 1rem;
}


/* MEDIA QUERIES */


/* @media only screen and (max-width: 576px) {
    #benefits .col-item figure img {
        height: 260px;
    }
    #projects .col-item figure img {
        height: 260px;
    }
} */