.hide-scroll {
    overflow-y: hidden;
}

.form-wrapper .section-heading {
    margin-bottom: 20px;
}

form {
    display: block;
    width: 100%;
}

label {
    font-weight: 600;
}

.logreg-container {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background: rgba(246, 246, 242, 1);
    transition: all .2s ease;
    z-index: 1031;
}

.logreg-container.show {
    opacity: 1;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 420px;
    max-height: 600px;
    padding: 4rem 2rem 2.5rem;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.form-wrapper.show {
    opacity: 1;
    transform: scale(1);
}

.form-wrapper-inner {
    width: 100%;
    height: 100%;
    background: #fff;
    border-top: 3px solid rgba(246, 246, 242, 1);
    overflow: auto;
    overflow-x: hidden;
}

.form-wrapper-inner form {
    padding: 1rem .75rem;
    margin: 10px 0;
}

.form-wrapper .btn {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}

.close-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 35px;
    height: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-icon span {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 4px 0;
    background: #101010;
}

.close-icon span:nth-child(1) {
    top: 10px;
    transform: rotate(45deg);
}

.close-icon span:nth-child(2) {
    opacity: 0;
}

.close-icon span:nth-child(3) {
    bottom: 10px;
    transform: rotate(-45deg);
}

.is-blurred {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}